<table class="content-table">
  <thead>
    <tr>
      <th colspan="2">Algemeen</th>
      <th>
        <button mat-raised-button (click)="openEditWeekSchedule(i)">
          Wijzig
        </button>

      </th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vervoer</td>
      <td><a routerLink="/bus"><button class="buttons" mat-flat-button>Busschema</button>
        </a></td>
      <td>

      </td>
    </tr>
    <tr>
      <td>Afwezig/Ziek</td>
      <td>
        <div *ngIf="users$">
          <span *ngFor="let userAbsent of userAbsents$">
            {{ userAbsent.firstName + " " + userAbsent.lastName + ", " }}
          </span>
        </div>
      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>