<table class="content-table">
  <thead>
    <tr>
      <th colspan="2">Algemeen</th>
      <th>
        <button mat-raised-button (click)="openEditWeekSchedule(i)">
          Wijzig
        </button>
        
      </th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vervoer</td>
      <td>Datum: {{ workday.date | date: "dd/MM/yyyy" }}</td>
      <!-- <td>Alexane, An DB, Christel, Elke, Jonas, Katelijne, Margot, Simon, Sigirid</td> -->
      <td>
        
      </td>
    </tr>
    <tr>
      <td>Afwezig</td>
      <td>
        <div *ngIf="users$">
        <span *ngFor="let userAbsent of userAbsents$">
        {{ userAbsent.firstName + " " + userAbsent.lastName + ", " }}
      </span>
    </div></td>
      <td>
        
      </td>
    </tr>
    <tr>
      <td>Ziek</td>
      <td>Christl</td>
      <td>
       
      </td>
    </tr>
  </tbody>
</table>
