<table class="content-table">
  <thead>
    <tr>
      <th colspan="3">Algemeen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vervoer</td>
      <td>Datum: {{ workday.date | date: longDate }}</td>
      <!-- <td>Alexane, An DB, Christel, Elke, Jonas, Katelijne, Margot, Simon, Sigirid</td> -->
      <td>
        <button class="buttons">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
        </button>
        <button class="buttons"><span>&#10006;</span></button>
      </td>
    </tr>
    <tr>
      <td>Afwezig</td>
      <td></td>
      <td>
        <button class="buttons">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
        </button>
        <button class="buttons"><span>&#10006;</span></button>
      </td>
    </tr>
    <tr>
      <td>Ziek</td>
      <td>Christl</td>
      <td>
        <button class="buttons">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
        </button>
        <button class="buttons"><span>&#10006;</span></button>
      </td>
    </tr>
  </tbody>
</table>
