.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.content-table thead tr {
  background-color: #2E7BE8;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr td:first-child {
  width: 20%;
}

.content-table tbody tr td:last-child {
  width: 5%;
}

.content-table tbody td {
  border: 1px solid lightgray;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-last-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #2E7BE8;
}

.content-table tbody tr:hover {
  color: #2E7BE8;
}

.content-table tbody tr td span {
  float: left;
}
