<table class="content-table">
  <thead>
    <tr>
      <th colspan="3">Voormiddag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{workday.amActivities[0].activity.name}}</td>
      <td>{{workday.amActivities[0].mentors[0].firstName + " " + workday.amActivities[0].mentors[0].lastName}},
        {{workday.amActivities[0].mentors[1].firstName + " " + workday.amActivities[0].mentors[1].lastName}}
      </td>
      <td>
        <fa-icon [icon]="faPencilAlt"></fa-icon>
        <span>&#10006;</span>
      </td>
    </tr>
    <tr>
      <td>{{workday.amActivities[1].activity.name}}</td>
      <td>{{workday.amActivities[1].mentors[0].firstName + " " + workday.amActivities[1].mentors[0].lastName}}
      </td>
      <td>
        <fa-icon [icon]="faPencilAlt"></fa-icon>
        <span>&#10006;</span>
      </td>
    </tr>
  </tbody>
</table>
