<div class="card" fxLayout="column">
    <div class="card_header">
        <h1 class="mat-display-1" fxLayoutAlign="center center">{{ workday.date | date:'EEEE' | titlecase }}</h1>
        <div fxLayout="row" fxLayoutAlign="center center">
            <img class="svgWhiteColor" src="../../../../assets/img/icons/icon-moon.svg" alt="Day icon">
            <span class="mat-h3" style="margin: auto 10px; ">&middot;</span>
            <h2 class="mat-h2">{{ workday.date | date:'d/MM' }}</h2>
        </div>
    </div>
    <div class="card_content" fxLayout="column">
        <div id="comments">
            <h2>Opmerkingen</h2>
            <p *ngIf="workday.comments.length === 0">Geen opmerkingen.</p>
            <div class="view-comments">
                <button type="button" class="btn" (click)="viewComments()" [disabled]="workday.comments.length === 0">Opmerkingen bekijken</button>
            </div>
        </div>
    </div>
</div>
