@import "../../variables.scss";

$hamburger-types: (squeeze);
$hamburger-layer-color: $color-primary-dark;
$hamburger-padding-y: 10px;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 5px;
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

.navbar {
  width: 100%;
  padding: 20px;
  background-color: #FFF;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin-bottom: 35px;
  box-shadow: $shadow-hard;
  img {
    display: block;
    position: absolute;
    top: 50%;
    height: calc(100% - 36px);
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 30px;
  }
}
