<app-nav> </app-nav>
<div class="container">
  <div class="weekEnDagPicker">
    <h5>
      <span>
        <fa-icon [icon]="faLessThan"></fa-icon>
      </span>
      <span>
        Week 40
      </span>
      <span>
        <fa-icon [icon]="faGreaterThan"></fa-icon>
      </span>
    </h5>
    <h5>
      <span>
        <fa-icon [icon]="faLessThan"></fa-icon>
      </span>
      <span>
        Dinsdag
      </span>
      <span>
        <fa-icon [icon]="faGreaterThan"></fa-icon>
      </span>
    </h5>
    <button>Save Week</button>
  </div>

  <app-algemeen-picto-agenda></app-algemeen-picto-agenda>
  <app-voormiddag-picto-agenda></app-voormiddag-picto-agenda>
  <app-namiddag-picto-agenda></app-namiddag-picto-agenda>
  <app-extra-picto-agenda></app-extra-picto-agenda>
</div>
<app-footer></app-footer>
