<div>
  <app-nav> </app-nav><app-date-picker></app-date-picker>
  <div>
    <div
      fxLayout="column"
      fxLayout.xs="column"
      fxLayout.s="column"
      fxLayoutGap=""
      fxLayoutAlign="center"
    >
      <!-- part 1 of week -->
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="2.5%"
        fxLayoutAlign="center"
      >
        <app-day-of-week id="maandag"></app-day-of-week>
        <app-day-of-week id="dinsdag"></app-day-of-week>
        <app-day-of-week id="woensdag"></app-day-of-week>
      </div>

      <!-- part 2 of week -->
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="2.5%"
        fxLayoutAlign="center"
      >
        <app-day-of-week id="donderdag"></app-day-of-week>
        <app-day-of-week id="vrijdag"></app-day-of-week>
        <div
        class="widthAndHeight"
          fxLayout="column"
          fxLayout.xs="column"
          fxLayout.s="column"
          fxLayoutWrap
          fxLayoutGap="5%"
          fxLayoutAlign="center"
        >
          <app-day-of-weekend id="zaterdag"></app-day-of-weekend>
          <app-day-of-weekend id="zondag"></app-day-of-weekend>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
