<app-header></app-header>

<div fxLayout="column" fxLayoutGap="20px">
    <div class="top-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center">
        <button class="btn-white" [disabled]="(workdays$ | async).length === 0">
            <i class="material-icons">print</i>&nbsp;Afdrukken
        </button>
        <div class="weekselector" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button class="btn-nextprev" (click)="prevWeek()"><i class="material-icons">navigate_before</i></button>
            <p>Week {{ dates[0] | date: 'w' }}<br>({{ dates[0] | date: 'd LLL' }} tot {{ dates[4] | date: 'd LLL' }})
            </p>
            <button class="btn-nextprev" (click)="nextWeek()"><i class="material-icons">navigate_next</i></button>
        </div>
        <button class="btn-pink-outline" (click)="openUserSelector()">Agenda cliënt</button>
    </div>
    <!-- Empty schedule -->
    <app-schedule-empty *ngIf="(workdays$ | async).length === 0; else notEmpty" [dates]="dates"></app-schedule-empty>
    <!-- Workdays -->
    <ng-template #notEmpty>
        <app-schedule-weekday class="day" *ngFor="let workday of workdays$ | async | workdayFilter:false"
                              [workday]="workday" [isAdmin]="true"></app-schedule-weekday>
        <app-schedule-weekend class="day" *ngFor="let workday of workdays$ | async | workdayFilter:true"
                              [workday]="workday" [isAdmin]="true"></app-schedule-weekend>
    </ng-template>
</div>
