@import "../../../../variables.scss";

.card {
  background-color: #FFF;
  padding: 15px 15px 0;
  border-radius: 8px;
  transition: all .2s ease-in-out;

  img {
    height: 35px;
    width: 35px;
    margin-right: 15px;
  }

  a {
    transition: all .2s ease-in-out;
    cursor: pointer;
  }

  &:hover {
    background-color: $color-background;
  }
}

.card_header {
  margin-bottom: 10px;

  h2 {
    margin: 0;
  }

  a {
    margin: 0 6px;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      opacity: .7;
    }

    & svg {
      height: 24px;
      width: 24px;
    }

    #edit { fill: $color-text }

    #delete { fill: $color-danger }
  }
}

.card_content {
  margin-left: 30px;

  .mentors, .clients {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mentors {
    border-bottom: 1px solid $color-divider;
  }

  .user_picture, .more {
    text-align: center;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-color: #FFF;
  }
}
