mat-card-header {
  padding: 5%;
  justify-content: center;
  align-items: center;
  text-align:center;
  color: white;
  background-color: #007AEF;
  border-radius: 4px 4px 0px 0px;

  mat-card-subtitle {
    color: white;
    margin: auto;
  }
}

mat-card-content {
  padding: 1em;
  padding-bottom: 0em;
}

mat-card-actions {
  padding-top: 0;
  padding: 2.5em;
}

mat-card {
  padding: 0;
  height: 100%;
  width: 100%;
  background: rgba(46,123,232,0.20);
}

textarea,
mat-form-field {
  width: 100%;
}

mat-form-field {
  width: 95%;
  margin: 2%;
  padding: 0px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background: white;
}