<table class="content-table">
  <thead>
    <tr>
      <th colspan="2">Voormiddag</th>
      <th>
        <button mat-raised-button (click)="openEditWeekSchedule(i)">
          Wijzig
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let activity of workday.amActivities; let i = index">
      <td>{{ activity.activity.name }}
        <br> Begeleiders:
        <div *ngFor="let mentor of activity.mentors">
          {{mentor.firstName + " " + mentor.lastName +", "}}
        </div>
      </td>
      <td>
        <span *ngFor="let client of activity.clients">
          {{ client.firstName + " " + client.lastName + ", " }}
        </span>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>