<table class="content-table">
  <thead>
    <tr>
      <th colspan="2">Voormiddag</th>
      <th>
          <button mat-raised-button (click)="openEditWeekSchedule(i)">
            Wijzig
          </button>
          
        </th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let activity of workday.amActivities; let i = index">
      <td>{{ activity.activity.name }}</td>
      <td>
        <span *ngFor="let mentor of activity.mentors">
          {{ mentor.firstName + " " + mentor.lastName + ", " }}
        </span>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
