<app-nav> </app-nav>
<div></div>
<div class="container">
  <div class="weekEnDagPicker">
    <h5>
      <span>
        <fa-icon [icon]="faLessThan"></fa-icon>
      </span>
      <span>
        Week 40
      </span>
      <span>
        <fa-icon [icon]="faGreaterThan"></fa-icon>
      </span>
    </h5>
    <h5>
      <span>
        <fa-icon [icon]="faLessThan"></fa-icon>
      </span>
      <span>
        Dinsdag
      </span>
      <span>
        <fa-icon [icon]="faGreaterThan"></fa-icon>
      </span>
    </h5>
    <button>Save Week</button>
  </div>
  
  <div *ngIf="(workdays$ | async ) as workdays"><!--Divs voor te testen, moeten nog verwijderd worden eens het werkt-->
  <div *ngFor="let wd of workdays">
  <app-algemeen-week-schedule [workday] ="wd"></app-algemeen-week-schedule>
</div>
  </div>
  <app-voormiddag-week-schedule></app-voormiddag-week-schedule>
  <app-namiddag-week-schedule></app-namiddag-week-schedule>
  <app-extra-week-schedule></app-extra-week-schedule>
</div>
<app-footer></app-footer>

