<app-nav> </app-nav>
<div></div>
<div class="container">
  <div class="weekEnDagPicker">
    <h5>
      <span>
        <fa-icon [icon]="faLessThan"></fa-icon>
      </span>
      <span>
        Week 40
      </span>
      <span>
        <fa-icon [icon]="faGreaterThan"></fa-icon>
      </span>
    </h5>
    <h5>
      <span>
        <fa-icon [icon]="faLessThan"></fa-icon>
      </span>
      <span>
        Dinsdag
      </span>
      <span>
        <fa-icon [icon]="faGreaterThan"></fa-icon>
      </span>
    </h5>
    <button>Save Week</button>
  </div>
  
  
  <app-algemeen-week-schedule [workday] ="workdays$"></app-algemeen-week-schedule>
  <app-voormiddag-week-schedule [workday] ="workdays$"></app-voormiddag-week-schedule>
  <app-namiddag-week-schedule [workday] ="workdays$"></app-namiddag-week-schedule>
  <app-extra-week-schedule [workday] ="workdays$"></app-extra-week-schedule>
</div>
<app-footer></app-footer>

