<form [formGroup]="commentForm" (keyup.enter)="save()">
    <div class="content">
        <mat-form-field appearance="outline">
            <mat-label>Opmerking</mat-label>
            <input matInput
                   [value]="userComment ? userComment : ''"
                   (change)="onChange($event.target.value)"
                   placeholder="Schrijf hier je opmerking" formControlName="comment"
                   [disabled]="isAdmin"> 
            <mat-error *ngIf="commentForm.controls.comment.invalid">{{getCommentErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
</form>

<!--[value]="userComment.comment ? userComment.comment : ''"-->