.header {
  padding: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #007AEF;
  border-radius: 4px 4px 0px 0px;
  font-size: 175%;
}

.mat-dialog-content {
  margin: 0 5%;
  padding: 0 4px;
}

.mat-dialog-actions {
  margin: 0 5% 20px;
}

.mat-dialog-title {
  margin: 0;
}

mat-form-field {
  width: 100%;
}

input[type="file"] {
  display: none;
}

.iconupload {
  margin-bottom: 0%;
  height: 150px;
  width: 150px;
  border-radius: 8px;
  cursor: pointer;
}

.content {
  margin-top: 30px;
}


