@import "../../../variables.scss";
@import "../../../success_failure_icons.scss";

.container { margin: 20px; }

h1 { color: $color-warning-dark; font-size: 150%; }

.mat-dialog-actions { margin-bottom: 0; }
