  <table class="content-table">
    <thead>
      <tr>
        <th colspan="3">Namiddag</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{workday.pmActivities[0].activity.name}}</td>
        <td>{{workday.pmActivities[0].mentors[0].firstName + " " + workday.pmActivities[0].mentors[0].lastName}},
          {{workday.pmActivities[0].mentors[1].firstName + " " + workday.pmActivities[0].mentors[1].lastName}}</td>
        <td>
          <fa-icon [icon]="faPencilAlt"></fa-icon>
          <span>&#10006;</span>
        </td>
      </tr>
    </tbody>
  </table>
