<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ day.text }}
        <!--via input in weekschedule de elementen vullen/meesturen die dan gevult moeten worden-->
      </mat-card-title>
      <mat-card-subtitle>
        {{ day.date | date }}
        <!--via input in weekschedule de elementen vullen/meesturen die dan gevult moeten worden-->
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <img src="assets/images/icons/busBlack.png" alt="black bus" />
        <img src="assets/images/icons/beverageCupBlack.png" alt="black cup" />
      </p>
      <hr />
      <p>item voormiddag</p>
      <p>item voormiddag</p>
      <hr />
      <p>item middag</p>
      <hr />
      <p>item namiddag</p>
      <hr />
      <p>item avond</p>
    </mat-card-content>
  </mat-card>
</div>
