::ng-deep mat-card-header {
  background-color: #2e7be8;
  color: white;
  padding: 15px;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px !important;
}

mat-card-subtitle {
  color: white;
}

mat-card-content {
  padding: 3em;
  padding-bottom: 2em;
  background-color: white;
  border-radius: 0px 0px 10px 10px !important;
}

mat-card {
  padding: 0;
  margin: 15px;
  background-color: #eff3f8;
  border-radius: 10px !important;
}

.footerCard {
  background-color: transparent;
}

.slightBottomPadding {
  padding-bottom: 1px;
}

input,
mat-form-field {
  width: 100%;
}

