<div class="width">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="text-align: center;">
        {{ nameOfDay.name }}
        <!-- {{ day.text }} -->
        <!--via input in weekschedule de elementen vullen/meesturen die dan gevult moeten worden-->
      </mat-card-title>
      <mat-card-subtitle style="text-align: center;">
        {{ nameOfDay.date | date: "dd/MM/yyyy" }}
        <!-- {{ day.date | date }} -->
        <!--via input in weekschedule de elementen vullen/meesturen die dan gevult moeten worden-->
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- morning transportation and activities -->
      <table>
        <tr>
          <td *ngFor="let amBus of workday.amBusses">
            <img
              src="assets/images/icons/{{ amBus.bus.icon }}"
              alt="{{ amBus.bus.name }}"
              width="40"
            />
          </td>
        </tr>
      </table>

      <hr />
      <!-- am activity -->
      <table>
        <tr *ngFor="let amActivity of workday.amActivities">
          <td>
            <img
              src="assets/images/icons/{{ amActivity.activity.icon }}"
              alt="{{ amActivity.activity.name }}"
              width="40"
            />
          </td>
          <td>{{ amActivity.activity.name }} hier moet begeleider komen</td>
        </tr>
      </table>

      <hr />
      <!-- noon activity / lunch -->
      <table>
        <tr>
          <td>
            <img
              src="assets/images/icons/{{ workday.lunch.icon }}"
              alt=""
              width="40"
            />
          </td>
        </tr>
      </table>

      <hr />
      <!-- pm activities -->
      <table>
        <tr *ngFor="let pmActivity of workday.pmActivities">
          <td>
            <img
              src="assets/images/icons/{{ pmActivity.activity.icon }}"
              alt="{{ pmActivity.activity.name }}"
              width="40"
            />
          </td>
          <td>{{ pmActivity.activity.name }} hier moet begeleider komen</td>
        </tr>
      </table>

      <hr />
      <!-- transportation evening -->
      <table>
        <tr>
          <td *ngFor="let pmBus of workday.pmBusses">
            <img
              src="assets/images/icons/{{ pmBus.bus.icon }}"
              alt="{{ pmBus.bus.name }}"
              width="40"
            />
          </td>
        </tr>
      </table>

      <hr />
      <div class="footerCard">
        <mat-form-field>
          <input
            matInput
            placeholder="Voeg een opmerking toe"
            type="text"
            [formControl]="commentFormControl"
          />
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" class="geefFeedbackBtn">Sla op</button>
      </div>

      <!-- <div class="slightBottomPadding">
        <h6 style="font-weight: 100;">
          druk op enter om opmerking toe te voegen
        </h6>
      </div> -->
    </mat-card-content>
  </mat-card>
</div>
