<div class="width">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="text-align: center;">
        {{ nameOfDay$.name }}
        <!-- {{ day.text }} -->
        <!--via input in weekschedule de elementen vullen/meesturen die dan gevult moeten worden-->
      </mat-card-title>
      <mat-card-subtitle style="text-align: center;">
        {{ nameOfDay$.date | date: "dd/MM/yyyy" }}
        <!-- {{ day.date | date }} -->
        <!--via input in weekschedule de elementen vullen/meesturen die dan gevult moeten worden-->
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- morning transportation and activities -->
      <table>
        <tr *ngFor="let amBus of weekDay.amBusses">
          <td>
            <img src="assets/images/icons/busBlack.png" alt="{{ amBus.bus.name }}" width="40" />
          </td>
          <td> {{ amBus.bus.name }}</td>
        </tr>
      </table>

      <hr />
      <!-- am activity -->
      <table>
        <tr *ngFor="let amActivity of weekDay.amActivities">
          <td>
            <img src="assets/images/icons/{{'icon-'+ amActivity.activity.icon+'.svg' }}"
              alt="{{ amActivity.activity.name }}" width="40" />
          </td>
          <td>{{ amActivity.activity.name }} {{getMentors(amActivity)}} </td>
        </tr>
      </table>

      <hr />
      <!-- noon activity / lunch -->
      <table>
        <tr>
          <td>
            <img src="assets/images/icons/forkKnifeBlack.png" alt="" width="40" />

          </td>
          <td> {{weekDay.lunch.lunch}}</td>
        </tr>
      </table>

      <hr />
      <!-- pm activities -->
      <table>
        <tr *ngFor="let pmActivity of weekDay.pmActivities">
          <td>
            <img src="assets/images/icons/{{'icon-'+ pmActivity.activity.icon +'.svg' }}"
              alt="{{ pmActivity.activity.name }}" width="40" />
          </td>
          <td>{{ pmActivity.activity.name }} {{getMentors(pmActivity)}}</td>
        </tr>
      </table>

      <hr />
      <!-- transportation evening -->
      <table>
        <tr *ngFor="let pmBus of weekDay.pmBusses">

          <td>
            <img src="assets/images/icons/busBlack.png" alt="{{ pmBus.bus.name }}" width="40" />
          </td>
          <td>{{ pmBus.bus.name }}</td>

        </tr>
      </table>

      <hr />
      <div class="footerCard">
        <mat-form-field>
          <input matInput placeholder="Voeg een opmerking toe" type="text" [formControl]="commentFormControl" />
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" class="geefFeedbackBtn">Sla op</button>
      </div>

    </mat-card-content>
  </mat-card>
</div>