<app-nav> </app-nav>
<div class="weekEnDagPicker">
  <h5>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Selecteer datum"
        (dateChange)="laadDagSchema($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </h5>
  <button mat-raised-button>Save Week</button>
</div>
<app-busschema-table [workday]="workday$"></app-busschema-table>

<app-footer></app-footer>
