<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <a id="logo" routerLink="/picto"
        ><img src="assets/images/logo.svg" height="40" alt="logo" />
      </a>
      <div *ngIf="isAdmin()">
      <a routerLink="/picto"
        ><button class="buttons" mat-flat-button>Picto-Agenda</button>
      </a>
      <a routerLink="/week"
        ><button class="buttons" mat-flat-button>Dagplanning</button>
      </a>
      <a routerLink="/bus"
        ><button class="buttons" mat-flat-button>Busschema</button>
      </a>
    </div>
      <span class="spacer"></span>

      <span *ngIf="loggedInUser$ | async as user">
        <button [matMenuTriggerFor]="menu" class="buttons" mat-flat-button>
          {{ user }}
        </button>

      </span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          gegevens wijzigen
        </button>
        <button id="logout" (click)="logout()" mat-menu-item>
          Uitloggen
        </button>

      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
