<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <a routerLink="/picto"
        ><img src="assets/images/logo.svg" height="40" alt="logo" />
      </a>
      <span class="spacer"></span>
      <span *ngIf="loggedInUser$ | async as user">{{ user }}</span>
      <span>
        <button class="buttons" mat-flat-button>
          Gegevens wijzigen
        </button>
      </span>
      <span>·</span>
      <span>
        <button (click)="logout()" mat-flat-button class="buttons">
          Afmelden
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
