<form [formGroup]="unitFormGroup" (ngSubmit)="submitUnit()" fxLayout="column" fxLayoutGap="15px">
    <div class="header" *ngIf="unit === null">
        <h1 mat-dialog-title *ngIf="isActivity">Nieuw atelier</h1>
        <h1 mat-dialog-title *ngIf="!isActivity">Nieuwe lunch</h1>
    </div>
    <div class="header" *ngIf="unit !== null">
        <h1 mat-dialog-title *ngIf="isActivity">Atelier bewerken</h1>
        <h1 mat-dialog-title *ngIf="!isActivity">Lunch bewerken</h1>
    </div>

    <div class="content" mat-dialog-content>



    <mat-form-field appearance="outline">
        <input type="text" placeholder="activiteit" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-icon matSuffix><img class="icon" [src]="imageUrl ? imageUrl: '../../../assets/img/icons/add_circle.svg'"/></mat-icon>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)='preview(option)'>
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    </div>

    <div mat-dialog-actions align="center"> <!-- TODO - FxFlex -->
        <button class="btn" type="submit" [disabled]="!unitFormGroup.valid || !unitFormGroup.dirty">Opslaan</button>
        <button class="btn-pink" matDialogClose>Annuleren</button>
    </div>
</form>
