@import "../../../variables.scss";

.container {
  margin: 20px;
}

h1, h2, p {
  color: $color-text;
}

.mat-dialog-actions {
  margin-bottom: 0;
}

input[type="file"] {
  display: none;
}

.profilePicture {
  margin-bottom: 0%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
}
