<table class="content-table">
  <thead>
    <tr>
      <th rowspan="3">Extra</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Voorbereiding</td>
      <td>Nick, Hedwig, Kathleen</td>
      <td>
        <fa-icon [icon]="faPencilAlt"></fa-icon>
        <span>&#10006;</span>
      </td>
    </tr>
    <tr>
      <td>Begeleiding steunpunt</td>
      <td>Christl</td>
      <td>
        <fa-icon [icon]="faPencilAlt"></fa-icon>
        <span>&#10006;</span>
      </td>
    </tr>
    <tr>
      <td>Pampa Mesa</td>
      <td>Alexane</td>
      <td>
        <fa-icon [icon]="faPencilAlt"></fa-icon>
        <span>&#10006;</span>
      </td>
    </tr>
    <tr>
      <td>Begeleiding groendienst</td>
      <td>Geert, Pieter</td>
      <td>
        <fa-icon [icon]="faPencilAlt"></fa-icon>
        <span>&#10006;</span>
      </td>
    </tr>
  </tbody>
</table>
