<table class="content-table">
  <thead>
    <tr>
      <th rowspan="3">Voormiddag</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Koken</td>
      <td>Kathleen</td>
      <td>
        <fa-icon [icon]="faPencilAlt"></fa-icon>
        <span>&#10006;</span>
      </td>
    </tr>
    <tr>
      <td>Digitaal Atelier</td>
      <td>Nick, Bjorn</td>
      <td>
        <fa-icon [icon]="faPencilAlt"></fa-icon>
        <span>&#10006;</span>
      </td>
    </tr>
    <tr>
      <td>Crea</td>
      <td>Josianne</td>
      <td>
        <fa-icon [icon]="faPencilAlt"></fa-icon>
        <span>&#10006;</span>
      </td>
    </tr>
    <tr>
      <td>Winkelen</td>
      <td>Ann T</td>
      <td>
        <fa-icon [icon]="faPencilAlt"></fa-icon>
        <span>&#10006;</span>
      </td>
    </tr>
  </tbody>
</table>
