<mat-card>
    <mat-card-header>
        <mat-card-title>{{ weekDay.date | date:'EEEE' | titlecase }}</mat-card-title>
        <mat-card-subtitle>{{ weekDay.date | date: "dd/MM/yyyy" }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column"
             fxLayoutAlign="space-between center">

            
            <img src="assets/img/icons/icon-beach-umbrella.svg" width="40">
            <p>Vrijaf!</p>
            
        </div>
    </mat-card-content>
</mat-card>
