mat-card {
  padding: 0px;
  margin: 0px !important;
  text-align: center;
}

mat-card-content {
  padding: 5%;
}

mat-card-header {
  padding: 5%;
  justify-content: center;
  align-items: center;
  text-align:center;
  color: white;
  background-color: #007AEF;
  border-radius: 4px 4px 0px 0px;

  mat-card-subtitle {
    color: white;
    margin: auto;
  }
}

