mat-card-header {
  padding: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #007AEF;
  border-radius: 4px 4px 0px 0px;
  font-size: 175%;
}

mat-card {
  padding: 0px;
  text-align: left;
}

mat-card-content {
  color: #002c5d;
}

.row:nth-child(odd) {
  background-color: rgba(216, 216, 216, 0.30);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #979797;
}

