<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ day.text }}
        <!--via input in weekschedule de elementen vullen/meesturen die dan gevult moeten worden-->
      </mat-card-title>
      <mat-card-subtitle>
        {{ day.date | date }}
        <!--via input in weekschedule de elementen vullen/meesturen die dan gevult moeten worden-->
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="legacy">
        <mat-label>Feedback</mat-label>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
      <button mat-raised-button class="geefFeedbackBtn">Geef feedback</button>
    </mat-card-content>
  </mat-card>
</div>
