<!--<app-nav></app-nav>-->
<div class="container"
     fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="20px"
     fxLayout.lt-sm="column">
    <div class="card"
         fxLayout="column"
         fxFlex="0 1 calc(33.3% - 13.444px)"
         fxFlex.lt-md="0 1 calc(50% - 10px)"
         fxFlex.lt-sm="100%">
        <div class="card-header">
            <i class="material-icons">
                supervised_user_circle
            </i>
        </div>
        <h1 class="mat-display-1">Gebruikers</h1>
        <p>Uitleg over functionaliteit van deze grote knop!</p>
        <a class="btn">Gebruikers beheren</a>
    </div>
    <div class="card"
         fxLayout="column"
         fxFlex="0 1 calc(33.3% - 13.444px)"
         fxFlex.lt-md="0 1 calc(50% - 10px)"
         fxFlex.lt-sm="100%">
        <div class="card-header">
            <i class="material-icons">
                file_copy
            </i>
        </div>
        <h1 class="mat-display-1">Template</h1>
        <p>Uitleg over functionaliteit van deze grote knop!</p>
        <a class="btn">Templates beheren</a>
    </div>
    <div class="card"
         fxLayout="column"
         fxFlex="0 1 calc(33.3% - 13.444px)"
         fxFlex.lt-md="0 1 calc(50% - 10px)"
         fxFlex.lt-sm="100%">
        <div class="card-header">
            <i class="material-icons">
                today
            </i>
        </div>
        <h1 class="mat-display-1">Planning</h1>
        <p>Uitleg over functionaliteit van deze grote knop!</p>
        <a class="btn">Planning beheren</a>
    </div>
    <div class="card"
         fxLayout="column"
         fxFlex="0 1 calc(33.3% - 13.444px)"
         fxFlex.lt-md="0 1 calc(50% - 10px)"
         fxFlex.lt-sm="100%">
        <div class="card-header">
            <i class="material-icons">
                directions_bus
            </i>
        </div>
        <h1 class="mat-display-1">Bussen</h1>
        <p>Uitleg over functionaliteit van deze grote knop!</p>
        <a class="btn">Bussen beheren</a>
    </div>
    <div class="card"
         fxLayout="column"
         fxFlex="0 1 calc(33.3% - 13.444px)"
         fxFlex.lt-md="0 1 calc(50% - 10px)"
         fxFlex.lt-sm="100%">
        <div class="card-header">
            <i class="material-icons">
                local_activity
            </i>
        </div>
        <h1 class="mat-display-1">Activiteiten</h1>
        <p>Uitleg over functionaliteit van deze grote knop!</p>
        <a class="btn">Activiteiten beheren</a>
    </div>
</div>
