<div>
  <app-nav></app-nav>
  <div class="container center ">
    <div fxLayout="row" fxLayoutAlign="center center" class="login-main">
      <mat-card>
        <form [formGroup]="user" (ngSubmit)="onSubmit()">
          <mat-card-title>Aanmelden</mat-card-title>

          <mat-card-content fxLayout="column">
            <div>
              <mat-form-field>
                <input matInput placeholder="emailadres" aria-label="email" formControlName="username" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input type="password" matInput placeholder="paswoord" aria-label="password"
                  formControlName="password" />
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
            <button class="blue-button " mat-raised-button type="submit">
              Meld aan
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
