<div class="container" fxLayout="column" fxFlexAlign="start">
    <h1 mat-dialog-title>{{ itemToDelete | titlecase }} verwijderen</h1>

    <p mat-dialog-content>Ben je zeker?</p>

    <div mat-dialog-actions fxLayoutAlign="end" fxFlexAlign="end" fxLayout="row" fxLayoutGap="20px"
         fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center" fxFlexAlign.lt-sm="center">
        <button class="btn-danger" autofocus (click)="onDelete()">Verwijderen</button>
        <button class="btn-danger-outline" (click)="onCancel()">Annuleren</button>
    </div>
</div>
