<app-header></app-header>
<!-- <app-date-picker>
  </app-date-picker> -->
<div class="container">
<div class="container containerDatePicker">
    <br/>
    <!-- datepicker -->
    <mat-form-field>
        <input
                matInput
                [matDatepicker]="picker"
                [(ngModel)]="chosenDate"
                placeholder="Selecteer datum"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>
</div>
<div
        class="floatLeft"
        fxLayout="row"
        fxLayout.xs="row"
        fxLayout.sm="row"

        fxLayoutAlign="center"
>

    <div
            fxLayout="column"
            fxLayout.xs="column"
            fxLayout.sm="column"

            fxLayoutAlign="flex-start"
    >
        <div>
            <mat-card-title style="margin-left: 15%">
                Cliënten</mat-card-title
            >
        </div>
        <div *ngIf="isAdmin()">
            <mat-list>
                <mat-list-item *ngFor="let user of users$ | async; let i = index">
                    <button mat-raised-button (click)="showPictoOfUser(i)">
                        {{ user.firstName }}, {{ user.lastName }}
                    </button>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>

<div class="floatRight" *ngIf="getWorkday(6)">

    <div *ngIf="clickedUser">
        <mat-card-title>
            {{ clickedUser.firstName }} {{ clickedUser.lastName }}</mat-card-title
        >
    </div>
    <!-- part 1 of week -->

    <div class="test"
            fxLayout="row wrap"
            fxFlexFill
            fxLayoutAlign="space-between start"
            fxLayout.xs="column"


    >
        <div class="day" *ngFor="let workday of getWeekdays()"

             fxFlex="0 0 calc(33%-0.5%)"
             fxFlex.xs="100%"
        >
            <app-weekday *ngIf="!workday.holiday" [weekDay]="workday"></app-weekday>
            <app-holiday *ngIf="workday.holiday" [weekDay]="workday"></app-holiday>

        </div>

        <div class="day"

                fxFlex="0 0 calc(33%-0.5%)"
                fxFlex.xs="100%"
        >
            <app-weekend [weekDays]="getWeekenddays()"></app-weekend>
            </div>

        </div>
    </div>


    <!-- part 2 of week -->


</div>
<app-footer></app-footer>
