<div>
  <app-nav> </app-nav><app-date-picker></app-date-picker>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)] = 'val' placeholder="Selecteer datum">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div
    fxLayout="row"
    fxLayout.xs="row"
    fxLayout.sm="row"
    fxLayoutGap=""
    fxLayoutAlign="center"
  >
    <div
      fxLayout="column"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayoutGap=""
      fxLayoutAlign="flex-start center"
    >
    <div *ngIf="isAdmin()">
      <mat-list>
        <mat-list-item *ngFor="let user of users$ | async; let i = index">
          <button mat-raised-button (click)="showPictoOfUser(i)">
            {{ user.firstName }}, {{ user.lastName }}
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
    <div
      fxLayout="column"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayoutGap=""
      fxLayoutAlign="center"
    >
      <!-- part 1 of week -->
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayoutWrap
        fxLayoutGap="2.5%"
        fxLayoutAlign="center"
      >
        <app-day-of-week id="maandag"></app-day-of-week>
        <app-day-of-week id="dinsdag"></app-day-of-week>
        <app-day-of-week id="woensdag"></app-day-of-week>
      </div>

      <!-- part 2 of week -->
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayoutWrap
        fxLayoutGap="2.5%"
        fxLayoutAlign="center"
      >
        <app-day-of-week id="donderdag"></app-day-of-week>
        <app-day-of-week id="vrijdag"></app-day-of-week>
        <div
          class="widthAndHeight"
          fxLayout="column"
          fxLayout.xs="column"
          fxLayout.sm="column"
          fxLayoutWrap
          fxLayoutGap="5%"
          fxLayoutAlign="center"
        >
          <app-day-of-weekend id="zaterdag"></app-day-of-weekend>
          <app-day-of-weekend id="zondag"></app-day-of-weekend>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
