<app-nav> </app-nav>
<!-- <app-date-picker>
  </app-date-picker> -->

<div class="container containerDatePicker">
  <br />
  <!-- datepicker -->
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="chosenDate"
      placeholder="Selecteer datum"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div
  class="floatLeft"
  fxLayout="row"
  fxLayout.xs="row"
  fxLayout.sm="row"
  fxLayoutGap=""
  fxLayoutAlign="center"
>
  <div
    fxLayout="column"
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayoutGap=""
    fxLayoutAlign="flex-start center"
  >
    <div *ngIf="isAdmin()">
      <mat-list>
        <mat-list-item *ngFor="let user of users$ | async; let i = index">
          <button mat-raised-button (click)="showPictoOfUser(i)">
            {{ user.firstName }}, {{ user.lastName }}
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<div class="floatRight" *ngIf="getWorkday(6)">
  <div
    fxLayout="column"
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayoutGap=""
    fxLayoutAlign="center"
  >
    <div *ngIf="clickedUser">
      <mat-card-title>
        {{ clickedUser.firstName }} {{ clickedUser.lastName }}</mat-card-title
      >
    </div>
    <!-- part 1 of week -->

    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayoutWrap
      fxLayoutGap="2.5%"
      fxLayoutAlign="center"
    >
      <app-day-of-week id="maandag" [weekDay]="getWorkday(0)"></app-day-of-week>
      <app-day-of-week id="dinsdag" [weekDay]="getWorkday(1)"></app-day-of-week>
      <app-day-of-week
        id="woensdag"
        [weekDay]="getWorkday(2)"
      ></app-day-of-week>
    </div>

    <!-- part 2 of week -->
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayoutWrap
      fxLayoutGap="2.5%"
      fxLayoutAlign="center"
    >
      <app-day-of-week
        id="donderdag"
        [weekDay]="getWorkday(3)"
      ></app-day-of-week>
      <app-day-of-week id="vrijdag" [weekDay]="getWorkday(4)"></app-day-of-week>
      <div
        class="widthAndHeight"
        fxLayout="column"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayoutWrap
        fxLayoutGap="5%"
        fxLayoutAlign="center"
      >
        <!-- weekend -->
        <app-day-of-weekend
          id="zaterdag"
          [weekDay]="getWorkday(5)"
        ></app-day-of-weekend>
        <app-day-of-weekend
          id="zondag"
          [weekDay]="getWorkday(6)"
        ></app-day-of-weekend>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
