<app-nav> </app-nav>
<div></div>
<div class="container">
  <div class="weekEnDagPicker">
    <h5>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Selecteer datum"
          (dateChange)="laadDagSchema($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </h5>
    <div *ngIf="dayNr !== 0 && dayNr !== 6">
      <button mat-raised-button>Save Week</button>
    </div>
  </div>
  <div *ngIf="dayNr !== 0 && dayNr !== 6; else weekend">
    <div *ngFor="let i of namesOfBlocks">
      <app-block-of-week-schedule
        [workday]="workday$"
        [planningDate]="planningDate$"
        [name]="i"
      ></app-block-of-week-schedule>
    </div>
  </div>
</div>
<ng-template #weekend>
  <h1>Het is weekend</h1>
</ng-template>
<app-footer></app-footer>
