<app-nav> </app-nav>
<div></div>
<div class="container">
  <div class="weekEnDagPicker">
    <h5>
      <mat-form-field>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </h5>
    <button mat-raised-button>Save Week</button>
  </div>

  <app-algemeen-week-schedule [workday]="workday$" [planningDate]="planningDate$"></app-algemeen-week-schedule>
  <app-voormiddag-week-schedule [workday]="workday$"></app-voormiddag-week-schedule>
  <app-namiddag-week-schedule [workday]="workday$"></app-namiddag-week-schedule>
  <app-extra-week-schedule [workday]="workday$"></app-extra-week-schedule>
</div>
<app-footer></app-footer>