.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

::ng-deep mat-card-title {
  background-color: #2e7be8;
  color: white;
  padding: 15px;
}

mat-form-field {
  margin-bottom: 15px;
}

mat-card {
  padding: 0;
}

.blue-button {
  background-color: #2e7be8;
  color: white;
}