@import "../../../variables.scss";

form {
  max-width: 800px;
  background: #FFF;
  padding: 40px;
  width: 55%;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: $shadow-subtle;
  box-shadow: $shadow-subtle;
}

img {
  margin-bottom: 20px;
  height: 70px;
}

h1 {
  margin: 0 0 30px 0;
  font-weight: bold;
  font-variant: small-caps;
}

h1, p {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.btn, .btn-pink {
  margin: 20px 0 0 0;
}

@media only screen and (max-width: 1024px) {
  form {
    width: 70%;
    padding: 30px
  }
}

@media only screen and (max-width: 767px) {
  form {
    width: 90%;
    padding: 20px;
  }
  h1 {
    margin: 0 0 20px 0;
    text-align: center !important;
  }
  .btn, .btn-pink {
    margin: 10px 0 0 0;
  }
  img {
    margin-bottom: 10px;
    height: 50px;
  }
}
