@import "../../../variables.scss";

:host {
  background: $gradient-blue;
}

.container {
  max-width: 800px;
  background: #FFF;
  padding: 40px;
  width: 55%;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: $shadow-subtle;
  box-shadow: $shadow-subtle;
}

h1 {
  margin: 0 0 30px 0;
  font-weight: bold;
  font-variant: small-caps;
}

h1, p {
  margin-left: 2px !important;
}

.btn, .btn-pink {
  margin: 20px 0 0 0;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 70%;
    padding: 30px
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
    padding: 20px;
  }
  .h1 {
    margin: 0 0 20px 0;
  }
  .btn, .btn-pink {
    margin: 10px 0 0 0;
  }
}
