<form class="container center" fxLayout="column" [formGroup]="user" (ngSubmit)="login()">
    <h1 class="mat-display-1">Aanmelden</h1>

    <mat-form-field appearance="outline">
        <mat-label>Emailadres</mat-label>
        <input matInput placeholder="ruben@mail.be" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Wachtwoord</mat-label>
        <input matInput placeholder="abc123" [type]="hidePassword ? 'password' : 'text'" [formControl]="password"
               required>
        <button mat-icon-button matSuffix (mousedown)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <p id="errorMsg" class="mat-error" style="display: none !important;">{{ errorMsg }}</p>

    <button class="btn-pink" type="submit" [disabled]='!user.valid' data-cy="login-button">Meld aan</button>
</form>

<!--<div class="container center ">
    <div fxLayout="row" fxLayoutAlign="center center" class="login-main">
        <mat-card>
            <form [formGroup]="user" (ngSubmit)="onSubmit()">
                <mat-card-title>Aanmelden</mat-card-title>
                <mat-card-content fxLayout="column">
                    <mat-form-field appearance="outline">
                        <mat-label>Emailadres</mat-label>
                        <input matInput placeholder="naam@email.be" aria-label="email" formControlName="username"
                               data-cy="login-email" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Wachtwoord</mat-label>
                        <input type="password" matInput placeholder="abc123" aria-label="password" formControlName="password"
                               data-cy="login-password" />
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                    <button class="blue-button " mat-raised-button type="submit" data-cy="login-button">
                        Meld aan
                    </button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>-->
