// FONTS

$font-stack: 'Roboto', Arial, Helvetica, sans-serif;

// COLORS

$color-primary: #007AEF;
$color-primary-dark: #003A70;
$color-accent: #D81B60;

$color-background: #EEF3F8;
$color-text: #003A70;

$gradient-blue: linear-gradient(90deg, #007AEF, #003A70);

// SHADOWS

$shadow-blue: 0px 17px 40px 0px rgba(0, 122, 239, .3);
$shadow-pink: 0px 17px 40px 0px rgba(216, 27, 96, .3);
$shadow-blue-hover: 0px 17px 40px 0px rgba(0, 122, 239, .5);
$shadow-pink-hover: 0px 17px 40px 0px rgba(216, 27, 96, .5);
$shadow-subtle: 0 -20px 85px rgba(0, 0, 0, 0.05);
$shadow-hard: 0 0px 85px rgba(0, 0, 0, 0.2);
