@import "../../../variables.scss";

.container {
  margin: 0 10% 20px;
}

@media screen and (max-width: 1440px) {
  .container {
    margin: 0 5% 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 20px 20px;
  }
}
