@import "../../../variables.scss";

.weekselector {
  text-align: center;
  button {
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: none;
    transition: all .4s ease-in-out;
    border-radius: 100%;

    :hover, :focus {
      transition: all .4s ease-in-out;
      background: #FFF;
      border-radius: 100%;
    }

    :active {
      transition: all .1s ease-in-out;
      opacity: .5;
      border-radius: 100%;
    }

    > i {
      transition: all .4s ease-in-out;
      padding: 10px;
      color: $color-text;
    }
  }
}

.container {
  margin: 20px;
}

.day {

}

@media screen and (min-width: 960px) {
  .day {
    &:nth-child(3n) {
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 959px) {
  .day {
    &:nth-child(2n) {
      margin-right: 0 !important;
    }
  }
}

@media screen and (min-width: 600px) {
  .day {
    margin-bottom: 20px;
  }
}
