@import "../../../variables.scss";

.weekselector {
  text-align: center;
}

.container {
  margin: 20px;
}

@media screen and (min-width: 960px) {
  .day {
    &:nth-child(3n) {
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 959px) {
  .day {
    &:nth-child(2n) {
      margin-right: 0 !important;
    }
  }
}

@media screen and (min-width: 600px) {
  .day {
    margin-bottom: 20px;
  }
}
