@import "../../../variables.scss";

$card-padding: 20px;

h1, h2, h3, p {
  margin: 0;
}

.card {
  background-color: #FFF;
  padding: $card-padding $card-padding 0;
  border-radius: 8px;
  -webkit-box-shadow: $shadow-card;
  -moz-box-shadow: $shadow-card;
  box-shadow: $shadow-card;
  height: 100%;
}

.card_header {
  background-color: $color-primary;
  border-radius: 8px 8px 0 0;
  color: #FFF;
  text-align: center;
  margin-top: -$card-padding;
  margin-left: -$card-padding;
  margin-right: -$card-padding;
  padding: $card-padding;

  h1:first-child {
    margin-bottom: 10px;
  }

  img {
    max-width: 30px;
  }
}

.card_content {
  > .card_content {
    border-bottom: none;
  }

  > div:not(.card_content) {
    padding-top: $card-padding;
    padding-bottom: $card-padding;

    &:not(#pmActivities):not(#dayActivities):not(#eveningBusses) {
      border-bottom: 2px solid $color-divider;
    }
  }

  #general {
    > * {
      margin-bottom: 10px;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
        margin-bottom: 20px;
      }

      &:last-child {
        margin-top: 20px;
      }
    }

    mat-form-field {
      margin-bottom: calc(-1.34375em + 10px);
    }
  }

  .add-activity, .add-lunch, .add-bus {
    margin-bottom: 10px;
  }
}

#holiday {
  margin: 20px 0;

  > img {
    width: 80px;
  }
}

.card_footer {
  border-top: 2px solid $color-divider;
  padding-top: $card-padding;
  padding-bottom: $card-padding;

  > * {
    margin-bottom: 10px;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

.card_content_2col {
  > .card_content {
    &:first-child {
      border-right: 1px solid $color-divider;
      padding-right: $card-padding;
    }

    &:last-child {
      padding-left: $card-padding;
    }

    & > #amActivities, & > #morningBusses {
      border-bottom: unset !important;
    }
  }
}

.card_footer_2col {
  border-top: 1px solid $color-divider;
}

.activity, .lunch, .bus {
  margin-left: -10px;
  margin-right: -10px;
}
