  <table class="content-table">
    <thead>
      <tr>
        <th rowspan="3">Namiddag</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Spik en Span</td>
        <td>Anja, Josianne</td>
        <td>
          <fa-icon [icon]="faPencilAlt"></fa-icon>
          <span>&#10006;</span>
        </td>
      </tr>
      <tr>
        <td>Beleving **</td>
        <td>Annemie</td>
        <td>
          <fa-icon [icon]="faPencilAlt"></fa-icon>
          <span>&#10006;</span>
        </td>
      </tr>
      <tr>
        <td>Sport</td>
        <td>Ann T, Ine</td>
        <td>
          <fa-icon [icon]="faPencilAlt"></fa-icon>
          <span>&#10006;</span>
        </td>
      </tr>
      <tr>
        <td>K-Lumet</td>
        <td>Koen</td>
        <td>
          <fa-icon [icon]="faPencilAlt"></fa-icon>
          <span>&#10006;</span>
        </td>
      </tr>
    </tbody>
  </table>
